@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@regular,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:wght@100,300,400,500&display=swap');

@font-face {
    font-family: 'AmstelvarAlpha';
    src: url('../fonts/AmstelvarAlpha-Variations.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}