@use "sass:math";

@import "_fonts.scss";

@import "_reset.scss";

@import "_mixins.scss";
/* ------------------------------------ */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: toRem(16);
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*=_container] {
    max-width: toRem(1350);
    margin: 0 auto;
    padding-inline: toRem(15);
}
/* ------------------------------------ */
$firstBg: #1e2832;
$secondBg: #ff6f61;
$lightGrey: #808080;
/* -----------------------------HEADER------------------------------- */
.header {
    background-color: #f4f4f5;

    // .header__container

    &__container {
        padding-top: toRem(6);
    }

    // .header__top      

    &__top {
        position: relative;
        z-index: 4;
    }

    // .header__bottom

    &__bottom {
        padding-block: toRem(30);
        transition: all 0.6s;
        @media (max-width: toRem(759.98)) {
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
            padding: toRem(25);
            padding-block-start: toRem(122);
            background-color: #f4f4f5;
            z-index: 2;
            overflow: auto;
        }
    }
}
.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(20);
    padding-block: toRem(25);
    border-bottom: toRem(1) solid #e3e3e3;
    
    // .top-header__logo

    &__logo {
        @media (max-width: toRem(389.98)) {
            &::before,
            &::after {
                display: none;
            }
        }
    }

    // .top-header__list

    &__list {
        display: flex;
        align-items: center;
        @media (max-width: toRem(759.98)) {
            column-gap: toRem(15);
        }
    }

    // .top-header__item

    &__item {
        display: flex;
        column-gap: toRem(20);
        font-size: 0;
        @media (max-width: toRem(759.98)) {
            column-gap: toRem(15);
        }
    }

    // .top-header__link

    &__link {
        display: flex;
        align-items: center;
        column-gap: toRem(10);
        font-family: "Roboto", sans-serif;
        font-size: toRem(18);
        font-weight: 400;
        color: #1e2832;
        transition: color 0.3s;
        @media (any-hover:hover) {
            &:hover{
                color: $secondBg;
            }
        }
        @media (max-width: toRem(759.98)) {
            & span {
                display: none;
            }
        }
    }
    
    // .top-header__link-acc

    &__link-acc {
        &::before {
            content: "";
            width: toRem(20);
            height: toRem(20);
            cursor: pointer;
            background: url(../img/header/icons/account-icon.svg) 0 0 no-repeat;
        }
    }

    // .top-header__link-shop

    &__link-shop {
        &::before {
            content: "";
            width: toRem(20);
            height: toRem(20);
            cursor: pointer;
            background: url(../img/header/icons/shopping-icon.svg) 0 0 no-repeat;
        }
    }
}
.form-top-header {
    display: flex;
    column-gap: toRem(10);
    padding: toRem(10);
    border-radius: toRem(8);
    transition: outline 0.3s;
    &:focus {
        outline: toRem(1) solid #bebebe;
    }
    @media (any-hover:hover) {
        &:hover {
            outline: toRem(1) solid #bebebe;
        } 
    }

    // .form-top-header__search

    &__search {
        @media (any-hover:hover) {
            &:hover .form-top-header__icon {
                transform: scale(1.1);
            }
        }
    }

    // .form-top-header__input

    &__input {
        &:focus {
            outline: none;
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
        @media (max-width: toRem(759.98)) {
            display: none;
        }
    }

    // .form-top-header__icon

    &__icon {
        width: toRem(20);
        height: toRem(20);
        transition: all 0.3s;
    }
}
.logo-coral {
    font-family: "AmsterAlpha", serif;
    font-size: toRem(28);
    text-transform: uppercase;
    display: flex;
    column-gap: 10px;
    align-items: center;

    &::before,
    &::after {
        content: "";
        background: url(../img/logo-decor.svg) 0 0 no-repeat;
        width: toRem(31);
        height: toRem(15);
    }
}
.menu-icon {
    display: none;
    @media (max-width: toRem(759.98)) {
        display: block;
        position: relative;
        height: toRem(18);
        width: toRem(30);
        flex-shrink: 0;
        z-index: 2;

        &::before,
        &::after,
        & span {
            content: "";
            height: toRem(2);
            width: 100%;
            position: absolute;
            left: 0;
            background-color: #000;
            transition: all 0.3s;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}
.menu-open {
    .menu-icon {
        &::before {
            transform: rotate(-45deg);
            top: 50%;
            margin-top: -1px;
        }
        &::after {
            transform: rotate(45deg);
            bottom: 50%;
            margin-bottom: -1px;
        }
        & span {
            transform: scale(0);
        }
    }
    .header__bottom {
        left: 0;
    }
    body {
        overflow: hidden;
    }
}
.navigation {
    // .navigation__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: toRem(25);
        row-gap: toRem(10);
        @media (max-width: toRem(759.98)) {
            flex-direction: column;
            font-size: toRem(25);
            row-gap: toRem(30);
        }
    }

    // .navigation__item

    &__item {
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover .navigation__link {
                color: $secondBg;
            }
        }
    }

    // .navigation__link

    &__link {
        transition: color 0.3s;
    }
}


/* ------------------------------------ */
/* -----------------------------MAIN------------------------------- */
/* ------------------------------------ */
.page {

    // .page__collections

    &__collections {
        background-color: #f4f4f5;
        margin-block-end: toRem(90);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }
    
    // .page__brands

    &__brands {
        margin-block-end: toRem(60);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }

    // .page__explore

    &__explore {
        margin-block-end: toRem(140);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }

    // .page__products

    &__products {
        & * {
            text-transform: capitalize;
        }
        margin-block-end: toRem(140);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }

    // .page__zara

    &__zara {
        margin-block-end: toRem(140);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }

    // .page__best

    &__best {
        margin-block-end: toRem(140);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }

    // .page__follow

    &__follow {
        margin-block-end: toRem(140);
        @media (max-width: toRem(759.98)) {
            margin-block-end: toRem(30);
        }
    }
}
/* -----------------COLLECTIONS------------------- */
.collections {
    position: relative;
    padding-block: toRem(60);
    @media (max-width: toRem(759.98)) {
        padding-block: toRem(35);
    }

    // .collections__container

    &__container {
        display: flex;
        column-gap: toRem(100);
        @media (max-width: toRem(759.98)) {
            flex-direction: column;
            row-gap: toRem(60);
            align-items: center;
        }
    }

    // .collections__content

    &__content {
        padding-block-start: toRem(74);
        max-width: toRem(730);
        & *:not(:last-child) {
            margin-block-end: toRem(52);
        }
        @media (max-width: toRem(759.98)) {
            padding-block-start: 0;
            & *:not(:last-child) {
                margin-block-end: toRem(35);
            }
        }
    }

    // .collections__title

    &__title {
        font-family: "Roboto", sans-serif;
        font-size: min(max(toRem(55), calc(toRem(55) + (74 - 55) * ((100vw - toRem(320)) / (1350 - 320)))), toRem(74));
        font-weight: 100;
    }

    // .collections__text

    &__text {
        font-size: min(max(toRem(25), calc(toRem(25) + (35 - 25) * ((100vw - toRem(320)) / (1350 - 320)))), toRem(35));
        font-weight: 500;
        line-height: 1.83; /* 55/30 */
        text-transform: capitalize;
        margin-block-end: toRem(67);
    }

    // .collections__button

    &__button {
        background-color: $firstBg;
        padding: toRem(18) toRem(26);
        transition: background-color 0.3s;
        & span {
            display: flex;
            align-items: center;
            column-gap: toRem(10);
            color: #fff;
            font-size: toRem(29);
            font-weight: 400;
            text-transform: capitalize;

            &::before {
                content: "";
                background: url(../img/main/icons/shop-button-icon.svg) 0 0 no-repeat;
                width: toRem(24);
                height: toRem(24);
            }
            @media (max-width: toRem(759.98)) {
                justify-content: center;
            }
        }
        @media (any-hover:hover) {
            &:hover {
                background-color: $secondBg;
            }
        }
        @media (max-width: toRem(759.98)) {
            width: 100%;
        }
    }

    // .collections__image

    &__image {
        max-width: toRem(424);
        max-height: toRem(542);
        border-radius: toRem(160) 0;
        border: 2px solid #b7b7b8;
        & img {
            width: 100%;
            height: 100%;
            aspect-ratio: 424 / 542;
            object-fit: cover;
            border-radius: toRem(160) 0;
            transform: translate(toRem(-18), toRem(-20));
        }
        @media (max-width: toRem(759.98)) {
            margin: toRem(18) 0 0 toRem(20);
        }
    }

    // .collections__decor

	&__decor {
        position: absolute;
	}

	// .collections__decor-left

	&__decor-left {
        width: 5%;
        height: 16%;
        top: 70%;
        left: 0;
	}

	// .collections__decor-right

	&__decor-right {
        width: 6.8%;
        height: 37%;
        top: 35%;
        right: 0;
        aspect-ratio: 168 / 265;
	}
}
/* -----------------BRANDS------------------- */
.brands {
    padding-block: toRem(30);
    @media (max-width: toRem(759.98)) {
        padding-block: toRem(15);
    }

    // .brands__list

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: toRem(10);
        @media (max-width: toRem(759.98)) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: toRem(15);
        }
    }

    // .brands__item

    &__item {
        max-width: toRem(200);
        max-height: toRem(70);
        transition: box-shadow 0.3s;
        @media (any-hover:hover) {
            &:hover {
                box-shadow: toRem(3) toRem(3) toRem(5) #bebebe;
            }
        }
    }

    // .brands__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 200 / 70;
        object-fit: contain;
    }
}

/* -----------------EXPLORE------------------- */

.explore {

    // .explore__container

    &__container {
        position: relative;
    }

    // .explore__title

    &__title {
        font-family: "Roboto", sans-serif;
        font-size: min(max(toRem(27), calc(toRem(27) + (34 - 27) * ((100vw - toRem(320)) / (1350 - 320)))), toRem(34));
        text-transform: uppercase;
        margin-block-end: torem(15);
        @media (min-width: toRem(1440)) {
            position: absolute;
            bottom: 5%;
            left: -2.5%;
            writing-mode: vertical-lr;
            transform: rotate(-180deg);
        }
        @media (max-width: toRem(1440)) {
            margin-block-end: toRem(15);
        }
    }

    // .explore__list

    &__list {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(toRem(250), 1fr));
        gap: toRem(24);
        @media (max-width: toRem(759.98)) {
            gap: toRem(18);
        }
    }

    // .explore__item

    &__item {
        @media (min-width: toRem(553.98)) {
            &:nth-child(10n + 1),
            &:nth-child(10n + 8) {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
        @media (any-hover:hover) {
            &:hover .info {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // .explore__link

    &__link {
        position: relative;
        transition: all 0.3s;
    }

    // .explore__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}
.offers {
    display: flex;
    flex-direction: column;
    row-gap: toRem(10);
    position: absolute;
    top: toRem(22);
    left: 0;

    // .offers__label

    &__label {
        color: #fff;
        font-size: toRem(12);
        font-weight: 600;
        padding: toRem(6) toRem(12);
        text-transform: uppercase;
        text-align: center;
    }

    // .offers__label--sale

    &__label--sale {
        background-color: $firstBg;
    }

    // .offers__label--hot

    &__label--hot {
        background-color: $secondBg;

    }
}
.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: toRem(20);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: toRem(15);
    background-color: $firstBg;
    color: #fff;
    font-weight: 600;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    @media (any-hover:none) {
        opacity: 1;
        visibility: visible;
    }
}
/* -----------------PRODUCTS------------------- */
.products {
    // .products__container

    &__container {
        & > *:not(:last-child) {
            margin-block-end: toRem(35);
        }
        @media (max-width: toRem(759.98)) {
            & > *:not(:last-child) {
                margin-block-end: toRem(20);
            }
        }
    }

    // .products__title

    &__title {
        font-family: "Roboto", sans-serif;
        font-size: min(max(toRem(40), calc(toRem(40) + (50 - 40) * ((100vw - toRem(320)) / (1350 - 320)))), toRem(50));
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
    }

    // .products__body

    &__body {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(auto-fill, minmax(toRem(250), 1fr));
        gap: toRem(24);
    }
}
.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: toRem(15);
    row-gap: toRem(15);

    // .filter__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: toRem(40);
        row-gap: toRem(10);
    }

    // .filter__item

    &__item {
        &:first-child .filter__link{
            color: #000;
        }
        &:not(:first-child) .filter__link {
            &:focus {
                color: #000;
            }
        }
        &:hover .filter__link {
            color: $secondBg;
        }
    }

    // .filter__link

    &__link {
        color: $lightGrey;
        font-weight: 600;
    }

    // .filter__button

    &__button {
        padding: toRem(7) toRem(15);
        background-color: $firstBg;
        transition: background-color 0.3s;
        @media (any-hover:hover) {
            &:hover {
                background-color: $secondBg;
            }
        }
        & span {
            display: flex;
            column-gap: toRem(5);
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: 300;
            &::before {
                content: "";
                background: url(../img/main/icons/filter-icon.svg) 0 0 no-repeat;
                width: toRem(16);
                height: toRem(14);
            }
        }
        @media (max-width: toRem(548.98)) {
            width: 100%;
        }
    }
}
.card {
    display: flex;
    flex-direction: column;
    row-gap: toRem(18);
    position: relative;

    // .card__link

    &__link {
        position: relative;
        @media (any-hover:hover) {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $firstBg;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s;
            }
            &:hover {
                &::before {
                    visibility: visible;
                    opacity: 0.3;
                }
            }
        }
    }

    // .card__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 312 / 400;
        object-fit: contain;
    }

    // .card__title

    &__title {
        flex-grow: 1;
        font-weight: 600;
    }
}
.info-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: toRem(10);

    // .info-card__name

    &__name {
        color: $lightGrey;
    }

    // .info-card__price-tag

    &__price-tag {
        font-weight: 600;
    }
}
.price-tag {
    &.price-tag--old {
        display: flex;
        column-gap: toRem(12);
        align-items: flex-end;
    }

    // .price-tag__price-old
    
    &__price-old {
        font-size: toRem(14);
        color: $lightGrey;
        font-weight: 400;
        text-decoration: line-through;
    }

    // .price-tag__price-new
    
    &__price-new {
        color: $secondBg;
    }
}
/* -----------------ZARA------------------- */
.zara {
    position: relative;
    min-height: 100vh;
    background: url(../img/main/zara/bg_zara.webp) center / cover no-repeat;

    // .zara__container

    &__container {
        display: flex;
        justify-content: flex-end;
        padding: toRem(233) toRem(15) toRem(93) toRem(15);
    }

    // .zara__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: toRem(55);
        max-width: toRem(504);
        font-family: "Roboto", sans-serif;
        color: #fff;
        text-transform: capitalize;
        @media (max-width: toRem(548.98)) {
            row-gap: toRem(25);
        }
    }

    // .zara__text

    &__text {
        font-size: toRem(26);
        line-height: 1.53; /* 40/26 */
        font-weight: normal;
    }

    // .zara__button

    &__button {
        padding: toRem(19) toRem(26);
        background-color: #fff;
        font-size: toRem(29);
        color: $firstBg;
        transition: background-color 0.3s;
        @media (any-hover:hover) {
            &:hover {
                background-color: $secondBg;
            }
        }
        @media (max-width: toRem(548.98)) {
            width: 100%;
            text-align: center;
        }
    }

    // .zara__bg-logo

    &__bg-logo {
        position: absolute;
        top: 7%;
        right: 0;
        width: 38%;;
        height: 40%;
    }

    // .zara__bg-image

    &__bg-image {
        width: 100%;
        aspect-ratio: 732 / 309;
        object-fit: cover;
    }
}
/* -----------------BEST------------------- */
.best {

    // .best__container

    &__container {
        @extend .products__container;
    }

    // .best__title

    &__title {
        @extend .products__title;
    }

    // .best__filter

    &__filter {
        & * {
            text-transform: capitalize;
        }
        span {
            &::before {
                display: none;
            }
        }
    }

    // .best__list

    &__list {
        display: flex;
        column-gap: toRem(24);
        overflow-x: auto;
        overflow-y: clip;
    }

    // .best__card

    &__card {
        max-width: toRem(312);
        flex-shrink: 0;
    }
}
/* -----------------FOLLOW------------------- */
.follow {
    padding-block-end: toRem(100);
    @media (max-width: toRem(759.98)) {
        padding-block-end: toRem(50);
    }

    // .follow__container

    &__container {
        & > *:not(:last-child) {
            margin-block-end: toRem(70);
        }
        @media (max-width: toRem(759.98)) {
            & > *:not(:last-child) {
                margin-block-end: toRem(30);
            }
        }
    }

    // .follow__instagram

    &__instagram {
        & > *:not(:last-child) {
            margin-block-end: toRem(60);
        }
        @media (max-width: toRem(759.98)) {
            & > *:not(:last-child) {
                margin-block-end: toRem(20);
            }
        }
    }

    // .follow__newsletter

    &__newsletter {
        .newsletter__container {
            & > *:not(:last-child) {
                margin-block-end: toRem(74);
            }
            @media (max-width: toRem(759.98)) {
                & > *:not(:last-child) {
                    margin-block-end: toRem(25);
                }
            }
        }
    }
}
.instagram {

    // .instagram__list

    &__list {
        display: flex;
        column-gap: toRem(24);
        overflow-x: auto;
    }

    // .instagram__link

    &__link {
        position: relative;
        width: toRem(200);
        height: toRem(200);
        @media (any-hover:hover) {
            &::before,
            &::after {
                content: "";
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s;
            }
            &::before {
                width: 100%;
                height: 100%;
                background-color: $firstBg;
            }
            &::after {
                background: url(../img/main/icons/instagram-icon.svg) 0 0 / toRem(48) no-repeat;
                top: calc(50% - toRem(24));
                left: calc(50% - toRem(24));
                width: toRem(48);
                height: toRem(48);
            }
            &:hover {
                &::before,
                &::after {
                    visibility: visible;
                    opacity: 0.3;
                }
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    // .instagram__image

    &__image {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}
.title-follow {
    @extend .products__title;
}
.newsletter {
    // .newsletter__container

    &__container {
        max-width: toRem(760);
    }

    // .newsletter__form

    &__form {
        color: $firstBg;
    }
}
.form-newsletter {
    display: flex;
    column-gap: toRem(26);
    row-gap: toRem(20);
    @media (max-width: toRem(548.98)) {
        flex-direction: column;
        align-items: center;
    }

    // .form-newsletter__input

    &__input {
        font-family: "Roboto", sans-serif;
        padding-block-end: toRem(10);
        padding-inline: toRem(16);
        border-bottom: toRem(2) solid $firstBg;
        outline: none;
        transition: all 0.3s;
        &::placeholder {
            font-weight: 600;
            opacity: 0.5;
        }
        @media (any-hover:hover) {
            &:hover {
                border-bottom: toRem(2) solid $secondBg;
            }
        }
        &:focus {
            border-bottom: toRem(2) solid $secondBg;
        }
    }

    // .form-newsletter__submit

    &__submit {
        color: $firstBg;
        padding-block-end: toRem(10);
        padding-inline: toRem(16);
        border-bottom: toRem(2) solid $firstBg;
        outline: none;
        transition: all 0.3s;
        @media (any-hover:hover) {
            &:hover {
                border-bottom: toRem(2) solid $secondBg;
            }
        }
        &:focus {
            border-bottom: toRem(2) solid $secondBg;
        }
    }
}
/* -----------------------------FOOTER------------------------------- */
.footer {
    & > *:not(:last-child) {
        margin-block-end: toRem(90);
    }
    @media (max-width: toRem(759.98)) {
        & > *:not(:last-child) {
            margin-block-end: toRem(30);
        }
    }
}
.body-footer {
    // .body-footer__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        column-gap: toRem(56);
        row-gap: toRem(30);
    }

    // .body-footer__main

    &__main {
        color: $firstBg;
        text-transform: capitalize;
    }

    // .body-footer__articles

    &__articles {
        flex-grow: 1;
    }
}
.main-body {
    display: flex;
    flex-direction: column;
    flex-basis: toRem(392);
    row-gap: toRem(32);
    @media (max-width: toRem(759.98)) {
        row-gap: toRem(20);
    }

    // .main-body__text

    &__text {
        opacity: 0.9;
        line-height: 1.7;
    }
}
.socials-footer {
    display: flex;
    column-gap: toRem(36);

    // .socials-footer__item

    &__item {
        @media (any-hover:hover) {
            &:hover .socials-footer__link {
                transform: scale(1.15);
            }
        }
    }

    // .socials-footer__link

    &__link {
        width: toRem(25);
        height: toRem(25);
        transition: transform 0.3s;
    }

    // .socials-footer__icon

    &__icon {
        width: 100%;
        height: 100%;
    }
}
.articles-body {
    // .articles-body__list

    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: toRem(40);
        row-gap: toRem(20);
        flex-wrap: wrap;
    }

    // .articles-body__article

    &__article {
        font-size: toRem(14);
        line-height: 1.7; /* 24/14 */
        text-transform: capitalize;
    }
}
.article {
    // .article__title

    &__title {
        font-size: toRem(16);
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
        margin-block-end: toRem(22);
    }

    // .article__list

    &__list {
        & > *:not(:last-child) {
            margin-block-end: toRem(12);
        }
    }

    // .article__item

    &__item {
        @media (any-hover:hover) {
            &:hover .article__link {
                color: $secondBg;
            }
        }
    }

    // .article__link

    &__link {
        transition: all 0.2s;
    }
}
.line-footer {
    background-color: $firstBg;
    padding-block: toRem(14);
    color: #fff;

    // .line-footer__container

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: toRem(20);
        flex-wrap: wrap;
        @media (max-width: toRem(759.98)) {
            flex-direction: column;
            justify-content: center;
        }
    }

    // .line-footer__scroll

    &__scroll {
        transition: color 0.3s;
        @media (any-hover:hover) {
            &:hover {
                color: $secondBg;
                & span {
                    &::after {
                        transform: scale(1.2);
                    }
                }
            }
        }
        & span {
            display: flex;
            align-items: center;
            column-gap: toRem(6);
            &::after {
                content: "";
                background: url(../img/footer/arrow-icon.svg) 0 0 no-repeat;
                width: toRem(14);
                height: toRem(16);
                transition: transform 0.3s;
            }
        }
    }
}
