@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url("fonts.css");

@import url("reset.css");
/* ------------------------------------ */
body {
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: normal;
    color: #535353;
    font-size: 16px;
    line-height: 1.875; /* 30/16 */
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
[class*=__container] {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
/* -----------------HEADER------------------- */
.header__top {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.menu__item {
    height: 30px;
}
.menu__item:hover {
    color: #FFBC57;
    transition: all 0.3s;
}
.socials {
    display: flex;
    gap: 10px;
}
.socials__item:nth-child(1) {
    margin-right: 10px;
}
.socials__item:last-child {
    margin: 0 20px;
}
.socials__item:hover .socials__icon {
    transform: scale(1.2) rotate(360deg);
    transition: all 0.3s;
}
.socials__select-language {
    position: relative;
    color: #535353;
    font-size: 19px;
    font-weight: bold;
}
.socials__select-language span::after {
    content: url(../img/header/icons/arrow.svg);
    width: 24px;
    height: 24px;
    top: 5px;
    position: absolute;
}
.socials__select-language span:hover::after {
    cursor: pointer;
}
/* ------------HEADER-BODY-------------- */
.header__body {
    display: flex;
    flex-basis: 1290px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 25px 0;
}
.header__logo {
    margin-right: 4px;
}
.logo {
    width: 250px;
}
.catalog-button__button {
    max-width: 145px;
}
.button {
    background-color: #FFBC57;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26; /* 24/19 */
    padding: 11px 20px;
    border-radius: 8px;
}
.button:hover {
    background-color: #e7aa4e;
    transition: 0.3s;
}
.button:hover .button__icon {
    transform: rotate(360deg);
    transition: all 0.3s;
}
.button:active {
    background-color: #ca9444;
}
.search__form {
    display: flex;
    flex-basis: 421px;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    color: #b1b1b1;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    padding: 7px 15px;
}
.search__form:hover{
    box-shadow: inset 3px 3px 8px 3px #bbbbbb;
    transition: all 0.3s;
}
.search__input {
    outline: none; 
}
.button-search__icon {
    padding: 5px 0;
}
.contacts {
    display: flex;
    flex-basis: 230px;
    align-items: center;
    gap: 10px;
}
.contacts__link:hover .contacts__icon{
    transform: scale(1.2);
    transition: all 0.3s;
}
.contacts__time {
    color: #535353;
    font-size: 13px;
    line-height: 1.69; /* 22/13 */
}
.contacts__phone-number {
    font-size: 20px;
    line-height: 1.4; /* 28/20 */
    color: #2b2929;
}
.contacts__phone-number:hover {
    color: #FFBC57;
    transition: all 0.3s;
}
.contacts__arrow {
    width: 24px;
    height: 24px;
}
.choise__link:not(:last-child) {
    margin-right: 20px;
}
.choise__link:hover .choise__icon{
    transform: scale(1.1);
    transition: all 0.3s;
}
/* ------------HEADER-BOTTOM-------------- */
.header__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    line-height: 1.26; /* 24/19 */
    font-weight: bold;
    padding: 18px 0;
}
.sale-header__list {
    display: flex;
    gap: 40px;
}
.sale-header__item:hover {
    color: #FFBC57;
    transition: all 0.3s;
}
.catalog-header__list {
    display: flex;
    gap: 40px;
}
.catalog-header__item:hover {
    color: #FFBC57;
    transition: all 0.3s;
}
/* -----------------MAIN-------------------- */
/* -----------------CATEGORIES-------------------- */
.page {
    padding: 70px 0;
}
.page__categories {
    margin-bottom: 70px;
}
.title {
    font-size: 40px;
    line-height: 1.2; /* 48/40 */
    font-weight: bold;
}
.categories__box {
    display: flex;
    padding-top: 40px;
    row-gap: 24px;
    column-gap: 10px;
    flex-wrap: wrap;
}
.categories__card {
    font-size: 20px;
    line-height: 1.4; /* 28/20 */
    font-weight: bold;
}
.card-categories {
    position: relative;
    min-width: 250px;
    min-height: 300px;
    border-radius: 8px;
}
.card-categories:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px #7a7a7a;
    transition: 0.3s;
}
.card-categories__title {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    margin-right: 40px;
}
.card-categories__title:hover {
    color: #FFBC57;
    transition: 0.3s;
}
.card-categories__number {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    color: #b1b1b1;
}
.card-categories__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.card-categories__image img {
    width: 100%;
}
.card-categories__link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    border-radius: 50%;
}
.card-categories__link:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.3s;
}
/* -----------------GOODS-------------------- */
.page__goods {
    margin-bottom: 70px;
}
.title > *{
    vertical-align: middle;
}
.title--more > span{
    margin-right: 30px;
}
.title-link {
    color: #ffbc57;
    font-size: 19px;
    line-height: 1.26; /* 24/19 */
}
.title-link:hover span{
    color: #e7aa4e;
    text-decoration: underline;
    transition: 0.3s;
}
.title-link:hover .goods__title-arrow {
    transform: scale(1.3);
    transition: 0.3s;
}
.title-link > * {
    vertical-align: middle;
}
.title-link span {
    margin-right: 10px;
}
.title-arrow {
    width: 12px;
    height: 12px;
}
.goods__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 40px;
}
.goods__card {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 8px;
    transition: 0.3s;
}
.goods__card:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 5px rgba(184, 184, 184, 0.5);
}
.card-goods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 300px;
    min-height: 468px;
    padding: 20px;
    /* gap: 20px; */
}
.card-goods__image-link{
    overflow: hidden;
    border-radius: 8px;
}
.card-goods__image {
    width: 100%;
    border-radius: 8px;
}
.card-goods__image:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.card-goods__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 112px;
}
.card-goods__body > * {
    margin-bottom: 10px;
}
.card-goods__body > *:last-child {
    margin-bottom: 0;
}
.card-goods__size {
    color: #535353;
    font-size: 13px;
    line-height: 1.69; /* 22/13 */
}
.card-goods__name {
    font-size: 19px;
    line-height: 1.26; /* 24/19 */
    font-weight: bold;
}
.card-goods__name:hover {
    color: #e7aa4e;
    transition: 0.3s;
}
.card-goods__available {
    font-size: 13px;
    line-height: 1.69; /* 22/13 */
}
.card-goods__available-arrow {
    margin-right: 5px;
}
.card-goods__available-text {
    display: inline-block;
}
.card-goods__price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__old {
    color: #e03d3d;
    font-size: 15px;
    line-height: 1.46; /* 22/15 */
    font-weight: bold;
    text-decoration: line-through;
}
.price__number {
    font-size: 20px;
    line-height: 1.4; /* 28/20 */
    font-weight: bold;
}
.card-goods__icons > *{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icons__favorite:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.icons__basket:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
/* -----------------SHARES-------------------- */
.shares {
    position: relative;
}
.title-arrows {
    position: absolute;
    top: 0;
    right: 0;
}
.title-arrows__link:hover {
    transform: scale(1.2);
    transition: 0.3s;
}
.title-arrows__arrow-left {
    transform: rotate(180deg);
    margin-right: 20px;
}
.shares__box {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.card-shares {
    border-radius: 8px;
}
.card-shares:hover {
    transform: scale(1.05);
    opacity: 0.85;
    transition: 0.3s;
}