@import url("https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@import url("fonts.css");

@import url("reset.css");
/* ------------------------------------ */
body {
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: 400;
    color: #535353;
    font-size: 16px;
}
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}
.wrapper > main {
    flex-grow: 1;
}
[class*=__container] {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ------------------------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/* -----------------------------HEADER------------------------------- */
.top-header {
    padding: 15px 0;
    background-color: #f8f8f8;
}
.body-header {
    background-color: #ffffff;
    padding: 25px 0;
    font-size: 0;
}
.bottom-header {
    border-top: 2px solid #f8f8f8;
    background-color: #ffffff;
    padding: 28px 0;
}
/* ---------------------HEADER-TOP-------------------- */
.top-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
}
.menu__item {
    padding: 7px 0;
    transition: color 0.3s;
}
@media (any-hover: hover) {
    .menu__item:hover {
        color: #ffbc57;
    }
}
.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.socials__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.socials__link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.socials__link--whatsapp {
    background-color: #75B73B;
}
.socials__link--telegram {
    background-color: #40B3E0;
}
.socials__link--viber {
    background-color: #6F3FAA;
}
.socials__icon {
    width: 17px;
}
@media (any-hover: hover) {
    .socials__link:hover {
        transform: scale(1.1) rotate(360deg);
    }
}
.socials__lang {
    font-size: 19px;
    font-weight: 500;
}
.lang {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 12px;
    z-index: 10;
}
@media (any-hover:hover) {
    .lang:hover .lang__list{
        top: 100%;
        opacity: 1;
        pointer-events: all;
    }
    .lang:hover .lang__label::after {
        transform: rotate(-180deg);
    }
    .lang__label:hover, 
    .lang__item:hover {
        color: #ffbc57;
    }
}
.lang__label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 19px;
    font-weight: 600;
}
.lang__label::after {
    content: "";
    background: url("../img/header/icons/arrow.svg") 0 0 no-repeat;
    flex: 0 0 12px;
    height: 8px;
    transition: 0.3s;
}
.lang__list {
    position: absolute;
    top: 80%;
    background-color: #fff;
    box-shadow: 0 0 5px #535353;
    border-radius: 8px;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.lang__item:not(:last-child) {
    margin-bottom: 5px;
}
/* ---------------------HEADER-BODY-------------------- */
.body-header__container {
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.body-header__logo {
    margin-right: 4px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    z-index: 2;
    position: relative;
}
.body-header__logo img {
    width: 250px;
}
.body-header__catalog {
    background-color: #ffbc57;
    border-radius: 8px;
    padding: 11px 20px;
    display: inline-flex;
    align-items: center;
    min-height: 50px;
    transition: 0.3s;
    z-index: 2;
    position: relative;
}

.body-header__catalog span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}
.body-header__catalog span::before {
    content: '';
    background: url(../img/header/icons/button-icon.svg) 0 0 no-repeat;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    transition: 0.3s;
}
@media (any-hover:hover) {
    .body-header__catalog:hover {
        background-color: #ecae50;
    }
    .body-header__catalog:hover span::before {
        transform: rotate(360deg);
    }
}
.body-header__search {
    z-index: 2;
}
.search {
    position: relative;
    font-size: 16px;
    color: #727272;
    flex-grow: 1;
}
.search__input {
    padding: 0 50px 0 10px;
    outline: none;
    height: 50px;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    transition: 0.3s;
}
.search__input:hover, .search__input:focus {
    box-shadow: inset 3px 3px 8px 3px #bbbbbb;
}
.search__input::placeholder {
    color: #b1b1b1;
}
.search__button {
    position: absolute;
    top: 13px;
    right: 15px;
}
.search__button-icon {
    transition: 0.3s;
}
.search__button-icon:hover {
    transform: scale(1.1);
}
.body-header__contacts {
    z-index: 2;
}
.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
.contacts__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: #f8f8f8;
    border-radius: 50%;
}
.contacts__icon {
    transition: 0.3s;
}
@media (any-hover:hover) {
    .contacts:hover .phones__list {
        opacity: 1;
        pointer-events: all;
        top: 100%;
    }
    .contacts__item:hover .contacts__icon{
        transform: scale(1.1);
    }
}
.contacts__body {
    padding-right: 27px;
}
.contacts__body::after {
    content: '';
    background: url(../img/header/icons/arrow.svg) 0 0  no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    width: 12px;
    height: 8px;
    cursor: pointer;
} 
.contacts__label {
    font-size: 13px;
    color: #535353;
    font-weight: 400;
    margin-bottom: 5px;
}
.contacts__phones {
    font-size: 20px;
    color: #2b2929;
    font-weight: 500;
}
@media (any-hover:hover) {
    .phones__current:hover,
    .phones__item:hover {
        color: #ffbc57;
    }
}
.phones__current {
    transition: 0.3s;
}
.phones__list {
    position: absolute;
    top: 80%;
    left: 60px;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    box-shadow: 0 0px 15px 0 #535353;
    border-radius: 8px;
    z-index: 10;
}
.phones__item {
    transition: 0.3s;
}
.phones__item:not(:last-child) {
    margin-bottom: 5px;
}
.phones__link {
    font-size: 19px;
}
.body-header__choise {
    z-index: 2;
    position: relative;
}
.choise {
    display: flex;
    gap: 20px;
}
.choise__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #ffbc57;
    border-radius: 50%;
}
.choise__item--search {
    display: none;
}
.choise__icon {
    transition: 0.3s;
}
@media (any-hover:hover) {
    .choise__item:hover {
        background-color: #ffbc5763;
    }
    .choise__item:hover .choise__icon {
        transform: scale(1.1);
    }
}
/* ---------------------HEADER-BOTTOM-------------------- */
.bottom-header__container {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.sale__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}
.sale__link {
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26; /* 24/19 */
    padding-left: 29px;
    transition: 0.3s;
}
.sale__link--action {
    background: url(../img/header/icons/action.svg) left / 24px no-repeat;
}
.sale__link--sale {
    background: url(../img/header/icons/sale.svg) left / 24px no-repeat;
}
.sale__link--part {
    background: url(../img/header/icons/part.svg) left / 24px no-repeat;
}
@media (any-hover:hover) {
    .sale__item:hover .sale__link {
        color: #ffbc57;
    }
    .use__item:hover .use__link {
        color: #ffbc57;
    }
}
.use__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 40px;
    row-gap: 10px;
}
.use__link {
    color: #535353;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26; /* 24/19 */
    transition: 0.3s;
}

.menu-icon {
    display: none;
}

.header__burger {
    display: none;
}

@media (max-width: 1247px) {
    .sale__list,
    .use__list {
        column-gap: 20px;
    }
}
@media (max-width: 1140px) {
    .menu__list{
        column-gap: 20px;
    }
    .body-header__logo {
        width: 175px;
        margin-right: 0;
    }
    .socials__label,
    .body-header__catalog span::before{
        display: none;
    }
    .body-header__container {
        column-gap: 20px;
    }
    .choise {
        gap: 10px;
    }
    
}
@media (max-width: 990px) {
    .social__label,
    .header__top,
    .contacts__body {
        display: none;
    }
    .menu-icon {
        display: block;
        position: relative;
        height: 18px;
        width: 30px;
        flex-shrink: 0;
        z-index: 2;
    }
    .menu-icon::before,
    .menu-icon::after,
    .menu-icon span {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #000;
        transition: 0.3s;
    }
    .menu-icon::before {
        top: 0;
    }
    .menu-icon::after {
        bottom: 0;
    }
    .menu-icon span {
        top: 50%;
        transform: translate(0, -50%);
    }
    .menu-open .menu-icon::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .menu-icon::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }
    .menu-open .menu-icon span {
        transform: scale(0);
    }

    .header__burger {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        padding-top: 192px;
        padding-bottom: 30px;
        overflow: auto;
        transition: 0.3s;
    }
    .header__burger::before {
        content: "";
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 162px;
        background-color: #fff;
        z-index: 2;
        transition: 0.3s;
    }
    .menu-open .header__burger {
        left: 0;
    }
    .menu-open .header__burger::before {
        left: 0;
    }
    .burger-header__container {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .menu__list,
    .sale__list,
    .use__list {
        row-gap: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu__link,
    .sale__link,
    .use__link {
        font-size: 28px;
        font-weight: 600;
    }
    .socials {
        align-self: stretch;
        justify-content: space-between;
    }
    .socials__list {
        column-gap: 20px;
    }
    .socials__link {
        width: 40px;
        height: 40px;
    }
    .socials__icon {
        width: 25px;
        height: 25px;
    }
    .body-header__container {
        justify-content: space-between;
    }
    .body-header,
    .bottom-header {
        padding: 15px 0;
    }
    .phones__list {
        
    }
}
@media (max-width: 560px) {
    .search {
        display: none;
    }
    .choise__item--search {
        display: flex;
    }
    .body-header__container,
    .bottom-header__container {
        column-gap: 10px;
    }
}
@media (max-width: 352px) {
    .choise__item {
        width: 45px;
        height: 45px;
    }

}
/* ------------------------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/* -----------------------------MAIN------------------------------- */

/* ---------------------GOODS-------------------- */
.page__goods {
    padding-top: 30px;
    margin-bottom: 40px;
}
.goods__title {
    margin-bottom: 40px;
}
.title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
}
.title span {
    color: #2b2929;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2; /* 48/40 */
}
.title__link {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #ffbc57;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.263; /* 24/19 */
    transition: 0.3s;
}
.title__link::after {
    content: "";
    background: url(../img/main/goods/arrow-title.svg) 0 0 no-repeat;
    width: 12px;
    height: 12px;
    transition: 0.3s;
}
@media (any-hover:hover) {
    .title__link:hover {
        text-decoration: underline;
    }
    .title__link:hover::after{
        transform: rotate(45deg);
    }
}
@media (max-width: 990px) {
    .title span {
        font-size: 35px;
    }
}
.goods__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 30px;
}
.goods__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgb(196, 196, 196)
}
.card-goods {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    row-gap: 20px;
    padding: 20px;
    transition: 0.3s;
}
@media (any-hover:hover) {
    .card-goods:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px 0px rgb(153, 153, 153);
    }
}
.card-goods__image {
    width: 100%;
}
.card-goods__image img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 260 / 220;
    transition: 0.3s;
}
@media (any-hover:hover) {
    .card-goods__image:hover img {
        opacity: 0.85;
    }
}
.info-card-goods {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    row-gap: 10px;
}
.info-card-goods__size {
    color: #535353;
    font-size: 13px;
    line-height: 1.69; /* 22/13 */
    font-weight: 300;
}
.info-card-goods__name {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
.info-card-goods__link {
    color: #2b2929;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26; /* 24/19 */
    transition: 0.3s;
}
@media (any-hover:hover) {
    .info-card-goods__name:hover .info-card-goods__link{
        color: #ffbc57;
    }
}
.info-card-goods__avail {
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: #2b2929;
    font-size: 13px;
    line-height: 1.69; /* 22/13 */
    font-weight: 300;
}
.info-card-goods__avail::before {
    content: "";
    background: url(../img/main/goods/icons/avail-arrow.svg) 0 0 no-repeat;
    flex: 0 0 20px;
    height: 20px;
}
.bottom-card-goods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.price-tag__old {
    color: #e03d3d;
    font-size: 15px;
    line-height: 1.46; /* 22/15 */
    text-decoration: line-through;
}
.price-tag__price {
    color: #2b2929;
    font-size: 20px;
    line-height: 1.4; /* 28/20 */
    font-weight: 600;
}
.actions {
    display: flex;
    column-gap: 10px;
}
.actions__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.3s;
}
.actions__item img {
    transition: 0.3s;
}
.actions__item--favorite {
    background-color: #f8f8f8;
}
.actions__item--basket {
    background-color: #ffbc57;
}
@media (any-hover:hover) {
    .actions__item:hover img {
        transform: scale(1.1);
    }
    .actions__item--favorite:hover {
        background-color: #e7e7e7;
    }
    .actions__item--basket:hover {
        background-color: #ecae50;
    }
}
/* ---------------------STYLE-------------------- */
.page__style {
    background-color: #fff;
}
.style {
    padding: 50px 0;
}
.style__container {
    max-width: 1269px;
    margin: 0 auto;
    padding: 0 15px;
}
.style__box {
    padding-top: 70px;
    background-color: #f0f0f0;
    border-radius: 40px;
}
.style__title {
    font-family: "IntegralCF", sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}
.style__body {
    display: grid;
    grid-template-columns: 1fr 257px 1fr;
    grid-auto-rows: 289px;
    gap: 20px;
    font-size: 0;
    padding: 64px 64px 76px 64px;
}
.card-style {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
}
@media (min-width:992px) {
    .card-style:nth-child(4n + 2), 
    .card-style:nth-child(4n + 3) {
        grid-column: span 2;
    }
}
@media (any-hover:hover) {
    .card-style:hover {
        transform: scale(1.03);
        box-shadow: 0px 0px 10px 0px rgb(124, 124, 124);
    }
}
.card-style__image {
    border-radius: 20px;
}
.card-style:nth-child(4n + 1) img, 
.card-style:nth-child(4n + 4) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 407 / 289;
}
.card-style:nth-child(4n + 2) img, 
.card-style:nth-child(4n + 3) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 684 / 289;
}
.card-style__title {
    position: absolute;
    top: 25px;
    left: 36px;
    font-family: "Satoshi",sans-serif;
    color: #000;
    font-size: 36px;
    font-weight: 700;
}
@media (max-width:992px) {
    .style__box {
        padding-top: 55px;
    }
    .style__title {
        font-size: 38px;
    }
    .style__body {
        grid-template-columns: 1fr 1fr;
        padding: 40px 40px 48px 40px;
    }
    .card-style__title {
        font-size: 32px;
    }
}
@media (max-width:600px) {
    .style__box {
        padding-top: 40px;
    }
    .style__title {
        font-size: 32px;
    }
    .style__body {
        grid-template-columns: 1fr;
        grid-auto-rows: 190px;
        padding: 28px 24px 27px 24px;
    }
    .card-style__title {
        font-size: 24px;
    }
}