@import url("reset.css");

* {
    color: blue;
}
h1 {
    color: green;
}
.list li {
    color: red;
}
.green {
    color: green;
}
.text p {
    color: brown;
}
#population {
    color: violet;
}
